SRV_Venta/SRV_GestionBolsasRecurrentes/Resources/WSDL/GestionBolsasRecurrentes_v1.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions
     name="GestionBolsasRecurrentes"
     targetNamespace="http://xmlns.oracle.com/SOAECommerce/SRV_GestionBolsasRecurrentes/GestionBolsasRecurrentes"
     xmlns:tns="http://xmlns.oracle.com/SOAECommerce/SRV_GestionBolsasRecurrentes/GestionBolsasRecurrentes"
     xmlns:inp1="http://entel.com.pe/GestionBolsasRecurrentes_ActivarBolsa_request"
     xmlns:inp2="http://entel.com.pe/GestionBolsasRecurrentes_ActivarBolsa_response"
     xmlns:ope1="http://entel.com.pe/GestionBolsasRecurrentes_ActualizarLineaCredito_request"
     xmlns:ope2="http://entel.com.pe/GestionBolsasRecurrentes_ActualizarLineaCredito_response"
     xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <plnk:partnerLinkType name="GestionBolsasRecurrentes">
        <plnk:role name="GestionBolsasRecurrentesProvider" portType="tns:GestionBolsasRecurrentes_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://entel.com.pe/GestionBolsasRecurrentes_ActivarBolsa_request"
                 schemaLocation="../XSD/Messages/ActivarBolsaRequest_v1.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://entel.com.pe/GestionBolsasRecurrentes_ActivarBolsa_response"
                 schemaLocation="../XSD/Messages/ActivarBolsaResponse_v1.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://entel.com.pe/GestionBolsasRecurrentes_ActualizarLineaCredito_request"
                 schemaLocation="../XSD/Messages/ActualizarLineaCreditoRequest_v1.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://entel.com.pe/GestionBolsasRecurrentes_ActualizarLineaCredito_response"
                 schemaLocation="../XSD/Messages/ActualizarLineaCreditoResponse_v1.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <!--procesarActivacionBolsas-->
    <wsdl:message name="ActivarBolsa_inputMessage">
        <wsdl:part name="request" element="inp1:activarBolsaRequest"/>
    </wsdl:message>
    <wsdl:message name="ActivarBolsa_outputMessage">
        <wsdl:part name="reply" element="inp2:activarBolsaResponse"/>
    </wsdl:message>
    <!--actualizarLineaCredito-->
    <wsdl:message name="ActualizarLineaCredito_inputMessage">
        <wsdl:part name="request" element="ope1:actualizarLineaCreditoRequest"/>
    </wsdl:message>
    <wsdl:message name="ActualizarLineaCredito_outputMessage">
        <wsdl:part name="reply" element="ope2:actualizarLineaCreditoResponse"/>
    </wsdl:message>
    <!--PortType-->
    <wsdl:portType name="GestionBolsasRecurrentes_ptt">
        <wsdl:operation name="activarBolsa">
            <wsdl:input message="tns:ActivarBolsa_inputMessage"/>
            <wsdl:output message="tns:ActivarBolsa_outputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="actualizarLineaCredito">
            <wsdl:input message="tns:ActualizarLineaCredito_inputMessage"/>
            <wsdl:output message="tns:ActualizarLineaCredito_outputMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <!--Binding-->
    <wsdl:binding name="GestionBolsasRecurrentes_ptt-binding" type="tns:GestionBolsasRecurrentes_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="activarBolsa">
            <soap:operation soapAction="ActivarBolsa"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="actualizarLineaCredito">
            <soap:operation soapAction="ActualizarLineaCredito"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>
